<div class="container m-auto" style="width: 45%;">
    <form (submit)="onSubmit()">

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" [(ngModel)]="password" name="password"
                    placeholder="Password">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="inputConfirmPassword" [(ngModel)]="confirmPassword"
                    name="confirmPassword" placeholder="Confirm Password">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>